In [1]:
import numpy as np #Importovanie knižníc na spracovanie dát a súborov 
import pandas as pd

In [2]:
df = pd.read_csv('tesla_april.csv', parse_dates=['datetime'], infer_datetime_format=True) # načítanie prvého csv súboru kotrý som pomenoval df

In [3]:
df['date'] = df.datetime.dt.date #Vytvorenie stĺpca date- naplnenie zo stĺpca datetime (dátum)
df['time'] = df.datetime.dt.time #Vytvorenie stĺpca time- naplnenie zo stĺpca datetime (čas)
df #výpis súboru csv

,open,high,low,close,volume,datetime,open_ma2,close_ma9,volume_ma9,close_ma180,...,dayofweek,tradehour,trademinute,tradeday,low_support,high_resistance,blw_ma9,abv_ma9,date,time
0,504.0000,505.99,504.00,505.8100,49234,2020-03-30 11:30:00-04:00,503.97000,502.659711,26363.555556,506.701347,...,0,11,30,30,-1,-1,0,1,2020-03-30,11:30:00
1,505.9700,507.71,505.50,506.8592,51278,2020-03-30 11:31:00-04:00,504.98500,503.384622,30254.222222,506.671787,...,0,11,31,30,-1,-1,0,2,2020-03-30,11:31:00
2,506.9400,507.52,505.04,505.7500,49781,2020-03-30 11:32:00-04:00,506.45500,503.994622,34867.666667,506.635342,...,0,11,32,30,-1,0,0,3,2020-03-30,11:32:00
3,505.7369,507.25,505.52,506.5900,11467,2020-03-30 11:33:00-04:00,506.33845,504.534622,33247.000000,506.599731,...,0,11,33,30,0,0,0,4,2020-03-30,11:33:00
4,506.4850,508.32,506.26,508.1082,18907,2020-03-30 11:34:00-04:00,506.11095,505.246644,33776.555556,506.571443,...,0,11,34,30,0,-1,0,5,2020-03-30,11:34:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15819,871.9900,871.99,870.00,871.0000,3597,2020-04-29 19:55:00-04:00,872.34500,871.911111,3373.222222,875.825917,...,2,19,55,29,118,0,0,0,2020-04-29,19:55:00
15820,871.0000,871.00,870.00,871.0000,1456,2020-04-29 19:56:00-04:00,871.49500,871.690000,2660.000000,875.825639,...,2,19,56,29,0,0,1,0,2020-04-29,19:56:00
15821,870.5000,870.99,870.01,870.5000,2838,2020-04-29 19:57:00-04:00,870.75000,871.510000,2202.444444,875.809861,...,2,19,57,29,0,0,2,0,2020-04-29,19:57:00
15822,870.5000,872.00,870.28,871.8000,4942,2020-04-29 19:58:00-04:00,870.50000,871.532222,2565.222222,875.819361,...,2,19,58,29,0,3,0,0,2020-04-29,19:58:00
15823,871.8700,872.25,870.30,870.3000,5486,2020-04-29 19:59:00-04:00,871.18500,871.343333,2999.222222,875.794361,...,2,19,59,29,0,4,0,0,2020-04-29,19:59:00

In [4]:
df['date'] = pd.to_datetime(df['date']) #Konvertovanie stĺpcu date na typ datetime

In [5]:
df1=(df[df["date"]=='2020-03-30'][:160]) #Vytvorenie novej premennej df1 - k nej bolo priradených prvýchh 160 riadkov zo stĺpca date z premennej df, ktoré sa rovnali dátumu 2020-03-30
df1 #výpis premennej df1

,open,high,low,close,volume,datetime,open_ma2,close_ma9,volume_ma9,close_ma180,...,dayofweek,tradehour,trademinute,tradeday,low_support,high_resistance,blw_ma9,abv_ma9,date,time
0,504.0000,505.990,504.0000,505.8100,49234,2020-03-30 11:30:00-04:00,503.97000,502.659711,26363.555556,506.701347,...,0,11,30,30,-1,-1,0,1,2020-03-30,11:30:00
1,505.9700,507.710,505.5000,506.8592,51278,2020-03-30 11:31:00-04:00,504.98500,503.384622,30254.222222,506.671787,...,0,11,31,30,-1,-1,0,2,2020-03-30,11:31:00
2,506.9400,507.520,505.0400,505.7500,49781,2020-03-30 11:32:00-04:00,506.45500,503.994622,34867.666667,506.635342,...,0,11,32,30,-1,0,0,3,2020-03-30,11:32:00
3,505.7369,507.250,505.5200,506.5900,11467,2020-03-30 11:33:00-04:00,506.33845,504.534622,33247.000000,506.599731,...,0,11,33,30,0,0,0,4,2020-03-30,11:33:00
4,506.4850,508.320,506.2600,508.1082,18907,2020-03-30 11:34:00-04:00,506.11095,505.246644,33776.555556,506.571443,...,0,11,34,30,0,-1,0,5,2020-03-30,11:34:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,500.4000,501.320,500.2400,501.3200,19878,2020-03-30 14:05:00-04:00,500.70000,501.735611,15722.111111,507.354851,...,0,14,5,30,0,0,10,0,2020-03-30,14:05:00
156,501.3450,501.470,500.7100,501.2100,10968,2020-03-30 14:06:00-04:00,500.87250,501.537833,15238.444444,507.354239,...,0,14,6,30,0,2,11,0,2020-03-30,14:06:00
157,501.2450,502.485,501.1238,502.4850,20164,2020-03-30 14:07:00-04:00,501.29500,501.544233,16375.666667,507.366379,...,0,14,7,30,0,6,0,0,2020-03-30,14:07:00
158,502.4300,502.870,501.7584,502.3400,21768,2020-03-30 14:08:00-04:00,501.83750,501.503122,17382.888889,507.374046,...,0,14,8,30,0,8,0,1,2020-03-30,14:08:00
159,502.2700,502.490,501.5850,501.9200,7864,2020-03-30 14:09:00-04:00,502.35000,501.537189,15828.666667,507.381934,...,0,14,9,30,1,0,0,2,2020-03-30,14:09:00

In [6]:
df2=(df[df["date"]=='2020-04-29'][:160]) #Vytvorenie novej premennej df2 - k nej bolo priradených prvých 160 riadkov zo stĺpca date z premennej df, ktoré sa rovnali dátumu 2020-04-29
df2 #Výpis premennej df2

,open,high,low,close,volume,datetime,open_ma2,close_ma9,volume_ma9,close_ma180,...,dayofweek,tradehour,trademinute,tradeday,low_support,high_resistance,blw_ma9,abv_ma9,date,time
15044,786.8700,786.87,783.0000,786.000,2133,2020-04-29 07:00:00-04:00,781.6850,776.813333,431.111111,772.189421,...,2,7,0,29,0,494,0,7,2020-04-29,07:00:00
15045,786.0000,786.96,785.6600,786.960,511,2020-04-29 07:01:00-04:00,786.4350,778.194444,476.777778,772.272643,...,2,7,1,29,0,495,0,8,2020-04-29,07:01:00
15046,786.5500,787.95,786.5500,787.500,2674,2020-04-29 07:02:00-04:00,786.2750,779.635556,747.666667,772.353254,...,2,7,2,29,0,496,0,9,2020-04-29,07:02:00
15047,787.7300,788.28,785.1600,785.160,5206,2020-04-29 07:03:00-04:00,787.1400,780.764444,1313.555556,772.424199,...,2,7,3,29,2,497,0,10,2020-04-29,07:03:00
15048,786.6400,787.95,786.0000,787.500,3136,2020-04-29 07:04:00-04:00,787.1850,782.075556,1650.888889,772.512977,...,2,7,4,29,0,0,0,11,2020-04-29,07:04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15199,799.3270,800.00,795.0000,797.220,90406,2020-04-29 09:35:00-04:00,796.6335,794.254622,66678.777778,787.247804,...,2,9,35,29,0,0,0,1,2020-04-29,09:35:00
15200,797.0450,798.00,795.6400,798.000,34343,2020-04-29 09:36:00-04:00,798.1860,794.921289,70477.666667,787.372804,...,2,9,36,29,0,0,0,2,2020-04-29,09:36:00
15201,797.5550,798.80,791.9235,793.266,67598,2020-04-29 09:37:00-04:00,797.3000,795.066400,77434.555556,787.471504,...,2,9,37,29,3,1,0,0,2020-04-29,09:37:00
15202,793.6300,795.52,792.5600,794.030,52520,2020-04-29 09:38:00-04:00,795.5925,795.395289,83000.666667,787.576282,...,2,9,38,29,0,0,0,0,2020-04-29,09:38:00
15203,793.9164,795.00,793.1700,793.360,32380,2020-04-29 09:39:00-04:00,793.7732,795.063067,67337.444444,787.677893,...,2,9,39,29,0,0,1,0,2020-04-29,09:39:00

In [7]:
may = pd.read_csv('tesla_may.csv', parse_dates=['datetime'], infer_datetime_format=True) #Načítanie druhého csv súboru pod názvom "may"

In [8]:
may['date'] = may.datetime.dt.date #Vytvorenie stĺpca date- naplnenie zo stĺpca datetime (dátum)
may['time'] = may.datetime.dt.time #Vytvorenie stĺpca time- naplnenie zo stĺpca datetime (čas)
may['date'] = pd.to_datetime(may['date']) #Konvertovanie stĺpcu date na typ datetime

In [9]:
df3=(may[may["date"]=='2020-05-01'][:160]) #Vytvorenie novej premennej df3 - k nej bolo priradených prvých 160 riadkov zo stĺpca date z premennej may, ktoré sa rovnali dátumu 2020-05-01
df3 #Výpis premennej df3

,open,high,low,close,volume,datetime,open_ma2,close_ma9,volume_ma9,close_ma180,...,dayofweek,tradehour,trademinute,tradeday,low_support,high_resistance,blw_ma9,abv_ma9,date,time
16174,24.9800,25.0500,24.82,24.82,6963,2020-05-01 04:00:00-04:00,25.21000,25.347778,3419.333333,25.660223,...,4,4,0,1,1617,0,1,0,2020-05-01,04:00:00
16175,24.8100,24.8100,24.80,24.80,1072,2020-05-01 04:01:00-04:00,24.89500,25.282222,3405.111111,25.653279,...,4,4,1,1,1623,0,2,0,2020-05-01,04:01:00
16176,24.8000,24.8100,24.50,24.51,4994,2020-05-01 04:02:00-04:00,24.80500,25.180000,3352.444444,25.645001,...,4,4,2,1,1799,0,3,0,2020-05-01,04:02:00
16177,24.4500,24.6900,24.45,24.60,644,2020-05-01 04:03:00-04:00,24.62500,25.092222,3285.111111,25.637557,...,4,4,3,1,1804,0,4,0,2020-05-01,04:03:00
16178,24.6900,24.7700,24.60,24.77,1432,2020-05-01 04:04:00-04:00,24.57000,25.024444,3238.888889,25.630723,...,4,4,4,1,0,1,5,0,2020-05-01,04:04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16329,24.5601,24.5601,24.56,24.56,4861,2020-05-01 08:03:00-04:00,24.57005,24.614444,4758.777778,24.773833,...,4,8,3,1,0,0,2,0,2020-05-01,08:03:00
16330,24.5800,24.6200,24.56,24.61,6600,2020-05-01 08:04:00-04:00,24.57005,24.613333,5414.333333,24.768667,...,4,8,4,1,0,2,0,0,2020-05-01,08:04:00
16331,24.5600,24.6000,24.56,24.60,2964,2020-05-01 08:05:00-04:00,24.57000,24.611111,5440.777778,24.763722,...,4,8,5,1,0,0,1,0,2020-05-01,08:05:00
16332,24.6100,24.6300,24.61,24.63,14018,2020-05-01 08:06:00-04:00,24.58500,24.612222,6522.555556,24.758889,...,4,8,6,1,0,4,0,0,2020-05-01,08:06:00
16333,24.6300,24.6300,24.58,24.63,1775,2020-05-01 08:07:00-04:00,24.62000,24.613333,6619.777778,24.754167,...,4,8,7,1,1,0,0,0,2020-05-01,08:07:00

In [10]:
cistenie1 = df1[['open','high','low','close','date']] #Vytvorenie premennej cistenie1 - jej naplnenie premennou df1 potrebnými stĺpcami (open, high, low, close, date)
cistenie1 #Výpis premennej

         open     high       low     close       date
0    504.0000  505.990  504.0000  505.8100 2020-03-30
1    505.9700  507.710  505.5000  506.8592 2020-03-30
2    506.9400  507.520  505.0400  505.7500 2020-03-30
3    505.7369  507.250  505.5200  506.5900 2020-03-30
4    506.4850  508.320  506.2600  508.1082 2020-03-30
..        ...      ...       ...       ...        ...
155  500.4000  501.320  500.2400  501.3200 2020-03-30
156  501.3450  501.470  500.7100  501.2100 2020-03-30
157  501.2450  502.485  501.1238  502.4850 2020-03-30
158  502.4300  502.870  501.7584  502.3400 2020-03-30
159  502.2700  502.490  501.5850  501.9200 2020-03-30

[160 rows x 5 columns]

In [12]:
cistenie2 = df2[['open','high','low','close','date']]#Vytvorenie premennej cistenie2 - jej naplnenie premennou df2 potrebnými stĺpcami (open, high, low, close, date)
cistenie2 #Výpis premennej

           open    high       low    close       date
15044  786.8700  786.87  783.0000  786.000 2020-04-29
15045  786.0000  786.96  785.6600  786.960 2020-04-29
15046  786.5500  787.95  786.5500  787.500 2020-04-29
15047  787.7300  788.28  785.1600  785.160 2020-04-29
15048  786.6400  787.95  786.0000  787.500 2020-04-29
...         ...     ...       ...      ...        ...
15199  799.3270  800.00  795.0000  797.220 2020-04-29
15200  797.0450  798.00  795.6400  798.000 2020-04-29
15201  797.5550  798.80  791.9235  793.266 2020-04-29
15202  793.6300  795.52  792.5600  794.030 2020-04-29
15203  793.9164  795.00  793.1700  793.360 2020-04-29

[160 rows x 5 columns]

In [14]:
cistenie3 = df3[['open','high','low','close','date']]#Vytvorenie premennej cistenie3 - jej naplnenie premennou df3 potrebnými stĺpcami (open, high, low, close, date)
cistenie3 #Výpis premennej

          open     high    low  close       date
16174  24.9800  25.0500  24.82  24.82 2020-05-01
16175  24.8100  24.8100  24.80  24.80 2020-05-01
16176  24.8000  24.8100  24.50  24.51 2020-05-01
16177  24.4500  24.6900  24.45  24.60 2020-05-01
16178  24.6900  24.7700  24.60  24.77 2020-05-01
...        ...      ...    ...    ...        ...
16329  24.5601  24.5601  24.56  24.56 2020-05-01
16330  24.5800  24.6200  24.56  24.61 2020-05-01
16331  24.5600  24.6000  24.56  24.60 2020-05-01
16332  24.6100  24.6300  24.61  24.63 2020-05-01
16333  24.6300  24.6300  24.58  24.63 2020-05-01

[160 rows x 5 columns]